@model Shopping.Dominio.Entidades.ModeloProduto
@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_LayoutLojista.cshtml";
}
<div id="box-products">
    <div class="Box-Identificacao">
    <h1>Cadastro de Modelo do Produto</h1>
        </div>
    <br /><br /><br /><br />
    <form action="/Lojista/ModeloProduto/Salvar" method="post">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.DataDaInclusao)
	<div class="divForm">
		<label>NOME DO MODELO:</label>
		@Html.TextBoxFor(model => model.Nome, new { @class = "campo" })
        <br /><br />
        @Html.CheckBoxFor(model => model.Ativo, new { @checked = "checked"}) &nbsp; Ativo
        <input type="submit" class="btn-AddCar Btn_End btnEnt btn-Form" value="Cadastrar" />
        <br /><br /><br />
	</div>
     </form>
</div>

