@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLojista.cshtml";
}

	<div class="container"> 		
		<!-- conteudo do site -->		
		<div id="box-products">
		
			<div id="bannerFreteGratis"></div><!-- Banner bannerFreteGratis -->
			<div id="bannerTradicional"></div><!-- Banner bannerTradicional -->
			<!-- Banner pequeno -->
			<div id="BannerDemostrativo">
				<div class="IMG_Dest">
					<ul>
						<li><img src="/Content/images/bannerPequeno0.png" alt=""></li>
						<li><img src="/Content/images/bannerPequeno1.jpg" alt="" /></li>
						<li><img src="/Content/images/bannerPequeno2.png" alt="" /></li>
						<li><img src="/Content/images/bannerPequeno3.jpg" alt="" /></li>	
					</ul>
				</div>
				<div class="Prod_Desmostrativo">
					<div><!-- Produto 01 -->
						<h2 class="Titulo_Promocao">OMEGA</h2>
						<h2 class="Titulo_Produto">SIT AMET CONSE CTETUR</h2>
						<p class="Desc_Prod">Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of,et...</p>
						<span class="priceFrom">De: R$ 425,00</span>
						<span class="price">Por: <strong>R$ 325,00</strong></span>
						<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>
					</div>
					<div><!-- Produto 02 -->
						<h2 class="Titulo_Promocao">OMEGA</h2>
						<h2 class="Titulo_Produto">AMET CONSE</h2>
						<p class="Desc_Prod">Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of,et...</p>
						<span class="priceFrom">De: R$ 859,00</span>
						<span class="price">Por: <strong>R$ 325,00</strong></span>
						<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>
					</div>
					<div><!-- Produto 03 -->
						<h2 class="Titulo_Promocao">OMEGA</h2>
						<h2 class="Titulo_Produto">enim ad minim veniam</h2>
						<p class="Desc_Prod">Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of,et...</p>
						<span class="priceFrom">De: R$ 325,00</span>
						<span class="price">Por: <strong>R$ 300,00</strong></span>
						<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>
					</div>
					<div><!-- Produto 04 -->
						<h2 class="Titulo_Promocao">OMEGA</h2>
						<h2 class="Titulo_Produto">SIT AMET CONSE CTETUR</h2>
						<p class="Desc_Prod">Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of, Lorem Ipsum is simply dummy text of,et...</p>
						<span class="priceFrom">De: R$ 425,00</span>
						<span class="price">Por: <strong>R$ 325,00</strong></span>
						<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>
					</div>
				</div>
				<div class="CriarBorda">
					<ul>
						<li class="CriarBorda_Selected"></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
				<div class="List_Demostrativo">
					<ul>
						<li><img src="/Content/images/bannerPequeno0.png" alt=""></li>
						<li><img src="/Content/images/bannerPequeno1.jpg" alt="" /></li>
						<li><img src="/Content/images/bannerPequeno2.png" alt="" /></li>
						<li><img src="/Content/images/bannerPequeno3.jpg" alt="" /></li>						
					</ul>
				</div>
			</div>	
			
			<div id="bannerNewsletter"><a href="javascript:void(0)" title="Clique aqui e confira as próximas atrações."></a></div><!-- Banner bannerNewsletter -->
			<!-- Banner caroselPrincipal -->
			<h4>O melhor preço</h4>
			<div id="Carousel">			
				<div id="slider-prev" class="controles"></div>
				 <ul class="bxslider VitrineProdutos">
					<li>
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/1/1-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li>
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/5/5-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>   
							<a class="button" title="View" href="javascript:void(0)">View</a>							
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li class="fastProd">
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/9/9-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span>   
							<span class="price">Por: <strong>R$ 325,00</strong></span>   
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li>
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/5/5-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>   
							<a class="button" title="View" href="javascript:void(0)">View</a>								
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li>
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/1/1-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li class="fastProd">
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/9/9-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span>   
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>								
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li>
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/9/9-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span>   
							<span class="price">Por: <strong>R$ 325,00</strong></span>   
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li>
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/5/5-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>								
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
					<li class="fastProd">
						<a class="img-prod" href="javascript:void(0)" title=""><img src="http://livedemo00.template-help.com/prestashop_43056/img/p/1/1-home_default.jpg" alt=""></a>
						<div>
							<h5><a class="link-prod" href="javascript:void(0)" title="">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a class="descr-prod" href="javascript:void(0)" title="">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a class="btn-AddCar" href="javascript:void(0)" title="">Add to cart</a>											
						</div>
					</li>
				</ul>
				<div id="slider-next"  class="controles"></div>
			</div>	
			
			<h4>Produtos em Destaque</h4>
			<div class="content-prod">
				<ul>
					<li>
						<a title="" href="javascript:void(0)" class="img-prod"><img alt="" src="http://livedemo00.template-help.com/prestashop_43056/img/p/1/1-home_default.jpg"></a>
						<div>
							<h5><a title="" href="javascript:void(0)" class="link-prod">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a title="" href="javascript:void(0)" class="descr-prod">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>											
						</div>
					</li>
					<li>
						<a title="" href="javascript:void(0)" class="img-prod"><img alt="" src="http://livedemo00.template-help.com/prestashop_43056/img/p/5/5-home_default.jpg"></a>
						<div>
							<h5><a title="" href="javascript:void(0)" class="link-prod">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a title="" href="javascript:void(0)" class="descr-prod">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>											
						</div>
					</li>
					<li class="fastProd">
						<a title="" href="javascript:void(0)" class="img-prod"><img alt="" src="http://livedemo00.template-help.com/prestashop_43056/img/p/9/9-home_default.jpg"></a>
						<div>
							<h5><a title="" href="javascript:void(0)" class="link-prod">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a title="" href="javascript:void(0)" class="descr-prod">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span>   
							<span class="price">Por: <strong>R$ 325,00</strong></span> 
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>											
						</div>
					</li>
					<li>
						<a title="" href="javascript:void(0)" class="img-prod"><img alt="" src="http://livedemo00.template-help.com/prestashop_43056/img/p/5/5-home_default.jpg"></a>
						<div>
							<h5><a title="" href="javascript:void(0)" class="link-prod">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a title="" href="javascript:void(0)" class="descr-prod">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>											
						</div>
					</li>
					<li>
						<a title="" href="javascript:void(0)" class="img-prod"><img alt="" src="http://livedemo00.template-help.com/prestashop_43056/img/p/9/9-home_default.jpg"></a>
						<div>
							<h5><a title="" href="javascript:void(0)" class="link-prod">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a title="" href="javascript:void(0)" class="descr-prod">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span>   
							<span class="price">Por: <strong>R$ 325,00</strong></span> 
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>											
						</div>
					</li>
					<li class="fastProd">
						<a title="" href="javascript:void(0)" class="img-prod"><img alt="" src="http://livedemo00.template-help.com/prestashop_43056/img/p/5/5-home_default.jpg"></a>
						<div>
							<h5><a title="" href="javascript:void(0)" class="link-prod">What is Lorem Ipsum?</a></h5>
							<p class="product_desc"><a title="" href="javascript:void(0)" class="descr-prod">Lorem Ipsum is simply dummy text of, et...</a></p>
							<span class="priceFrom">De: R$ 425,00</span> 
							<span class="price">Por: <strong>R$ 325,00</strong></span>  
							<a class="button" title="View" href="javascript:void(0)">View</a>	
							<a title="" href="javascript:void(0)" class="btn-AddCar">Add to cart</a>											
						</div>
					</li>
				</ul>
			</div>
		</div>		
	</div><!-- fim da div container -->	