			<!-- menu-principal -->
			<div id="menu-principal">
				<ul>
					<li class="sfHover">
						<a title="Your Shopping Cart" href="javascript:void(0)">MINHA CONTA<span class="indicator-category"> >></span></a>
						<ul class="sub-menu">
							<li><a title="" href="javascript:void(0)">sub menu 01</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 02</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 03</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 04</a></li>
						</ul>
					</li>
					<li class="sfHover">
						<a title="Your Shopping Cart" href="javascript:void(0)">MEUS PEDIDOS<span class="indicator-category"> >></span></a>
						<ul class="sub-menu">
							<li><a title="" href="javascript:void(0)">sub menu 01</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 02</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 03</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 04</a></li>
						</ul>
					</li>
					<li class="sfHover">
						<a title="Your Shopping Cart" href="javascript:void(0)">TELEVENDAS<span class="indicator-category"> >></span></a>
						<ul class="sub-menu">
							<li><a title="" href="javascript:void(0)">sub menu 01</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 02</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 03</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 04</a></li>
						</ul>
					</li>	
					<li class="sfHover">
						<a title="Your Shopping Cart" href="javascript:void(0)">QUEM SOMOS<span class="indicator-category"> >></span></a>
						<ul class="sub-menu">
							<li><a title="" href="javascript:void(0)">sub menu 01</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 02</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 03</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 04</a></li>
						</ul>
					</li>	
					<li class="sfHover">
						<a title="Your Shopping Cart" href="javascript:void(0)">TELEVENDAS<span class="indicator-category"> >></span></a>
						<ul class="sub-menu">
							<li><a title="" href="javascript:void(0)">sub menu 01</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 02</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 03</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 04</a></li>
						</ul>
					</li>	
					<li class="sfHover">
						<a title="Your Shopping Cart" href="javascript:void(0)">QUEM SOMOS<span class="indicator-category"> >></span></a>
						<ul class="sub-menu">
							<li><a title="" href="javascript:void(0)">sub menu 01</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 02</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 03</a></li>
							<li><a title="" href="javascript:void(0)">sub menu 04</a></li>
						</ul>
					</li>	
					<li><a title="Your Shopping Cart" href="javascript:void(0)" class="btnOutlet">OUTLET</a></li>	
				</ul>
			</div>
