@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutLojista.cshtml";
}

<!-- conteudo do site -->		
<div id="box-products">
	<div class="Subcont">
		<h1>Home</h1>
		<strong>Inicio do Painel de Administração</strong>
        <p></p>
		<p>Bem-vindo ao Seu Painel</p>
	<!--<a href="javascript:void(0)" title="VOLTAR PARA HOME" class="btn-AddCar btn_black">VOLTAR PARA HOME</a>-->
</div>	
</div>	
