@model List<Shopping.Dominio.Entidades.Usuario>
@{
    ViewBag.Title = "Usuários";
    Layout = "~/Views/Shared/_LayoutLojista.cshtml";
}

<div id="box-products">
    <div class="Box-Identificacao">
    <h1>Usuários <span class="BtaoNewCad"><a class="btn-AddCar" title="CADASTRAR NOVO" href="~/Lojista/Usuario/Form/0">CADASTRAR NOVO</a></span></h1>
        </div>
    <br /><br /><br /><br />

    <table class="box-table">
        <tr>
            <th scope="col" width="40%">Nome</th>
            <th scope="col" width="40%">E-mail</th>
            <th scope="col" align="center">Opções</th>
        </tr>
        @foreach(var item in Model) {
        <tr>
            <td>@item.Nome @item.SobreNome</td>
            <td>@item.Email</td>
            <td align="center"><a class="btn-AddCar btnEnt" title="EDITAR" href="~/Lojista/Usuario/Form/@item.Id">Editar</a></td>
        </tr>
        }
    </table>

</div>

